# Fichiers système
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log

# Fichiers d'environnement et de configuration sensibles
*.env
config.php
credentials.json
token.json

# Fichiers de log
*.log
webhook_log.txt
webhook_debug.txt
debug_log.txt
reservations_log.txt
zapier_diagnostic_result.txt

# Dossiers de fichiers temporaires ou archives
/gcal_links/*.html

# Fichiers spécifiques à l'IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace 